{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "valid-jsdoc": 2,
    "block-scoped-var": 2,
    "default-case": 2,
    "dot-location": [2, "property"],
    "guard-for-in": 2,
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-floating-decimal": 2,
    "no-param-reassign": 2,
    "no-process-env": 2,
    "no-self-compare": 2,
    "no-throw-literal": 2,
    "no-void": 2,
    "radix": 2,
    "strict": [2, "global"],
    "no-shadow": 2,
    "no-undefined": 2,
    "quotes": [2, "single"],
    "brace-style": [2, "ltbs", { "allowSingleLine": false }],
    "comma-style": [2, "last"],
    "func-style": [2, "declaration"],
    "indent": [2, 2],
    "linebreak-style": [2, "unix"],
    "new-cap": 0,
    "no-lonely-if": 2,
    "no-multiple-empty-lines": 2,
    "no-unneeded-ternary": 2,
    "operator-linebreak": [2, "after"],
    "space-after-keywords": [2, "always"],
    "space-before-function-paren": [2, "never"],
    "space-in-parens": [2, "never"],
    "spaced-line-comment": [2, "always"],
    "react/jsx-boolean-value": 2,
    "react/jsx-quotes": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 2,
    "react/jsx-sort-prop-types": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/wrap-multilines": 2
  }
}
