{
  "ecmaFeatures": {
    "jsx": true
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": ["react"],
  "rules": {
    "no-extra-parens": true,
    "valid-jsdoc": true,
    "block-scoped-var": true,
    "default-case": true,
    "dot-location": "property",
    "guard-for-in": true,
    "no-div-regex": true,
    "no-else-return": true,
    "no-eq-null": true,
    "no-floating-decimal": true,
    "no-param-reassign": true,
    "no-process-env": true,
    "no-self-compare": true,
    "no-throw-literal": true,
    "no-void": true,
    "radix": true,
    "strict": "global",
    "no-shadow": false,
    "no-undefined": true,
    "quotes": "single",
    "brace-style": ["ltbs", { "allowSingleLine": false }],
    "comma-style": "first",
    "func-names": true,
    "func-style": "declaration",
    "indent": [2, 2],
    "linebreak-style": "unix",
    "new-cap": false,
    "no-lonely-if": true,
    "no-multiple-empty-lines": true,
    "no-unneeded-ternary": true,
    "operator-linebreak": "after",
    "space-after-keywords": "always",
    "space-before-function-paren": "never",
    "space-in-parens": "never",
    "spaced-line-comment": "always",
    "react/jsx-boolean-value": 2,
    "react/jsx-quotes": 2,
    "react/jsx-no-undef": 2,
    "react/jsx-sort-props": 2,
    "react/jsx-sort-prop-types": 2,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-multi-comp": 2,
    "react/no-unknown-property": 2,
    "react/prop-types": 2,
    "react/react-in-jsx-scope": 2,
    "react/self-closing-comp": 2,
    "react/sort-comp": 2,
    "react/wrap-multilines": 2
  }
}
